@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Fixed="true">
        <MudIcon Icon="@Icons.Material.Filled.AccountTree" Class="mr-2" />
        <MudText Typo="Typo.h5" Class="font-weight-bold">Health Monitor</MudText>
        <MudSpacer />
        <NavMenu />
    </MudAppBar>
    
    <MudMainContent Class="pt-16 px-4">
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-8">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    <MudAlert Severity="Severity.Error" Class="pa-4" Square="true">
        An unhandled error has occurred.
        <MudLink Href="" Target="_self">Reload</MudLink>
        <span class="dismiss">🗙</span>
    </MudAlert>
</div>