<div class="d-flex flex-row">
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard" Rounded="true" >
        <MudText Class="d-none d-sm-inline-block">Dashboard</MudText>
    </MudNavLink>
    
    <MudNavLink Href="analytics" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Analytics" Rounded="true">
        <MudText Class="d-none d-sm-inline-block">Analytics</MudText>
    </MudNavLink>
</div>